
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $email := promptStringOnce .user "email" "email" -}}
{{- $name := promptStringOnce .user "name" "name" -}}

data:
    osid: {{ $osid | quote }}
    user:
        email: {{ $email | quote }}
        name: {{ $name | quote }}