#!/bin/bash

echo {{ .osid | quote }}

{{ if eq .osid "linux-ubuntu" -}}
DEBIAN_FRONTEND=noninteractive

apt-get update
apt-get install -y zsh
zsh --version
{{ end -}}

{{ if eq .osid "darwin" -}}
{{ end -}}