#!/bin/bash

# https://github.com/pyenv/pyenv/wiki#suggested-build-environment

echo {{ .osid | quote }}

{{ if eq .osid "linux-ubuntu" -}}
DEBIAN_FRONTEND=noninteractive

apt-get update
apt-get install -y make build-essential libssl-dev zlib1g-dev \
libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm \
libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev
{{ end -}}

{{ if eq .osid "darwin" -}}
{{ end -}}