#!/bin/bash

echo {{ .osid | quote }}

{{ if eq .osid "linux-ubuntu" -}}
export DEBIAN_FRONTEND=noninteractive

apt-get update

ln -fs /usr/share/zoneinfo/Asia/Shanghai /etc/localtime
{{ end -}}

{{ if eq .osid "darwin" -}}
{{ end -}}