#!/bin/bash

echo {{ .osid | quote }}

{{ if eq .osid "linux-ubuntu" -}}
DEBIAN_FRONTEND=noninteractive

/bin/zsh -i -c "pyenv install 3.10:latest"
/bin/zsh -i -c "pyenv versions"
{{ end -}}

{{ if eq .osid "darwin" -}}
{{ end -}}